@font-face {
  font-family: "Robaga Rounded";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Robaga-Rounded-Light.otf"); }
@font-face {
  font-family: "Robaga Rounded";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Robaga-Rounded-Regular.otf"); }
@font-face {
  font-family: "Robaga Rounded";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Robaga-Rounded-Bold.otf"); }
* {
  padding: 0;
  margin: 0; }

body {
  font-family: "Robaga Rounded", cursive;
  overflow-x: hidden; }

.navbar {
  background-color: #fff !important;
  padding-top: 0;
  padding-bottom: 0; }
  .navbar .navbar-brand {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .navbar .nav-item {
    margin: 0 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
    .navbar .nav-item .nav-link {
      text-transform: uppercase;
      font-size: 0.7rem; }
      .navbar .nav-item .nav-link:hover {
        color: #d8339c !important; }
    .navbar .nav-item .dropdown-menu {
      background-color: #d8339c;
      border-radius: 0px;
      margin-top: 0px;
      border: 0px; }
      .navbar .nav-item .dropdown-menu .dropdown-item {
        color: #fff; }
        .navbar .nav-item .dropdown-menu .dropdown-item:hover {
          background-color: #d74ca9; }

.banner {
  margin-top: 50px;
  background: linear-gradient(to right, #8448c8, #d93399); }
  .banner-text {
    display: flex;
    align-items: center;
    padding-left: 45px;
    margin: 40px 0; }
    .banner-text h1 {
      font-size: 2rem;
      font-weight: 600;
      text-transform: uppercase; }

.berita-main {
  background-color: #fff;
  padding-top: 20px; }
  .berita-main-title h2 {
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #d8339c; }
  .berita-main-wrapper {
    height: 150px;
    width: 100%; }
    .berita-main-wrapper img {
      object-fit: cover;
      object-position: top;
      display: block;
      height: 100%;
      width: 100%; }
  .berita-main p {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 0.7rem;
    color: #000; }

.banner-content {
  margin-top: 50px;
  width: 100vw;
  max-height: 60vh;
  overflow: hidden; }
  .banner-content img {
    min-width: 100%;
    left: 50%;
    position: relative;
    object-fit: cover;
    object-position: bottom;
    transform: translateX(-50%); }

.content {
  color: #d74ca9; }
  .content-title {
    margin: 20px 0; }
    .content-title small {
      font-size: 0.8rem; }
    .content-title h2 {
      font-size: 1.8rem;
      position: relative; }
      .content-title h2::after {
        content: "";
        border-bottom: 7px solid #d8339c;
        width: 110%;
        bottom: -20px;
        left: -140px;
        position: absolute;
        display: block; }
  .content-desc {
    padding: 30px 25px;
    background-color: #d74ca9;
    color: #fff; }
    .content-desc p {
      font-size: 0.9rem; }

.content-img {
  background-color: #d74ca9; }

footer {
  background-color: #d8339c;
  width: 100vw;
  padding-bottom: 20px;
  color: #fff; }
  footer a {
    background-color: #8348c8;
    border-radius: 50%;
    margin-right: 20px;
    text-align: center;
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 50px; }
    footer a:hover {
      background-color: #fff; }
      footer a:hover svg {
        fill: #8348c8; }
    footer a svg {
      fill: #fff;
      width: 25px; }
  footer img {
    height: 50px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 0; }
  footer h4 {
    position: relative;
    margin-bottom: 20px; }
    footer h4::after {
      content: "";
      border-bottom: 1px solid #fff;
      width: 80%;
      bottom: -10px;
      position: absolute;
      display: block; }
  footer p {
    font-size: 0.7rem; }
  footer .copy {
    font-size: 0.7rem; }

.btn-custom {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  color: #d74ca9;
  padding: 0.5em 2.2em; }
  .btn-custom:hover, .btn-custom:active, .btn-custom:focus {
    background-color: #d8339c;
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    color: #fff;
    box-shadow: none; }

.berita {
  margin-top: 50px;
  padding-top: 25px; }
  .berita .wrapper {
    height: 200px;
    width: 100%; }
    .berita .wrapper img {
      object-fit: cover;
      object-position: top;
      display: block;
      height: 100%;
      width: 100%; }
  .berita p {
    color: #d74ca9;
    text-decoration: none;
    font-size: 0.7rem;
    margin-bottom: 0; }
  .berita label {
    font-size: 0.8rem;
    font-weight: 600; }

.detail-berita .wrapper {
  height: 40vh;
  width: 100%;
  margin-bottom: 10px; }
  .detail-berita .wrapper img {
    object-fit: cover;
    object-position: top;
    display: block;
    height: 100%;
    width: 100%; }
.detail-berita small {
  font-size: 0.6rem; }
.detail-berita h4 {
  margin-top: 20px;
  font-weight: 600; }
.detail-berita label {
  font-size: 1.2rem;
  margin-bottom: 20px; }
.detail-berita p {
  font-size: 0.9rem; }

@media screen and (max-width: 767px) {
  .banner-content {
    max-height: 40vh; }
    .banner-content .img-fluid {
      max-width: none; }

  .berita {
    padding-left: 2rem;
    padding-right: 2rem; }

  .banner-image {
    position: relative; }
  .banner small {
    font-size: 0.7rem;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 40%; } }
@media screen and (min-width: 992px) {
  .navbar {
    background-color: #fff !important;
    padding-top: 0;
    padding-bottom: 0; }
    .navbar .navbar-brand {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem; }
    .navbar .nav-item {
      margin: 0 10px;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem; }
      .navbar .nav-item:hover {
        background-color: #d8339c; }
        .navbar .nav-item:hover .nav-link {
          color: #fff !important; }
      .navbar .nav-item .nav-link {
        text-transform: uppercase;
        font-size: 0.8rem; }
      .navbar .nav-item .dropdown-menu {
        background-color: #d8339c; }
        .navbar .nav-item .dropdown-menu .dropdown-item {
          color: #fff; }
          .navbar .nav-item .dropdown-menu .dropdown-item:hover {
            background-color: #d74ca9; }

  .content-title h2 {
    font-size: 2.7rem; } }
@media screen and (min-width: 1024px) {
  .banner-text {
    display: flex;
    align-items: center;
    padding-left: 130px;
    padding-right: 40px;
    margin: 0; }
    .banner-text h1 {
      font-size: 2.7rem;
      font-weight: 600;
      text-transform: uppercase; }
  .banner-image {
    text-align: right; }
  .banner small {
    font-size: 0.7rem;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 60%; }

  .berita {
    background-color: #fff;
    padding: 20px 215px; }
    .berita-title h2 {
      font-size: 2rem;
      color: #d8339c; }
    .berita p {
      margin: 0; } }

/*# sourceMappingURL=app.css.map */
