@font-face {
  font-family: "Robaga Rounded";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Robaga-Rounded-Light.otf");
}
@font-face {
  font-family: "Robaga Rounded";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Robaga-Rounded-Regular.otf");
}
@font-face {
  font-family: "Robaga Rounded";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Robaga-Rounded-Bold.otf");
}
$pinkColor: #d8339c;
$pinkAccentColor: #d74ca9;
$blueColor: #8348c8;
$whiteColor: #fff;

* {
  padding: 0;
  margin: 0;
}

body {
  // font-family: "Baloo Paaji 2", cursive;
  font-family: "Robaga Rounded", cursive;
  overflow-x: hidden;
}

.navbar {
  background-color: $whiteColor !important;
  padding-top: 0;
  padding-bottom: 0;

  .navbar-brand {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .nav-item {
    margin: 0 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .nav-link {
      text-transform: uppercase;
      font-size: 0.7rem;

      &:hover {
        color: $pinkColor !important;
      }
    }

    .dropdown-menu {
      background-color: $pinkColor;
      border-radius: 0px;
      margin-top: 0px;
      border: 0px;

      .dropdown-item {
        color: $whiteColor;

        &:hover {
          background-color: $pinkAccentColor;
        }
      }
    }
  }
}

.banner {
  margin-top: 50px;
  background: linear-gradient(to right, rgb(132, 72, 200), rgb(217, 51, 153));

  &-text {
    display: flex;
    align-items: center;
    padding-left: 45px;
    margin: 40px 0;
    h1 {
      font-size: 2rem;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}

.berita-main {
  background-color: $whiteColor;
  padding-top: 20px;
  &-title {
    h2 {
      font-size: 1.7rem;
      text-transform: uppercase;
      color: $pinkColor;
    }
  }

  &-wrapper {
    height: 150px;
    width: 100%;

    img {
      object-fit: cover;
      object-position: top;
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  p {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 0.7rem;
    color: #000;
  }
}

// herd-immunity
.banner-content {
  margin-top: 50px;
  width: 100vw;
  max-height: 60vh;
  overflow: hidden;

  img {
    // height: 100%;
    min-width: 100%;
    left: 50%;
    position: relative;
    object-fit: cover;
    object-position: bottom;
    transform: translateX(-50%);
  }
}

.content {
  color: $pinkAccentColor;

  &-title {
    margin: 20px 0;
    small {
      font-size: 0.8rem;
    }

    h2 {
      font-size: 1.8rem;
      position: relative;

      &::after {
        content: "";
        border-bottom: 7px solid $pinkColor;
        width: 110%;
        bottom: -20px;
        left: -140px;
        position: absolute;
        display: block;
      }
    }
  }

  &-desc {
    padding: 30px 25px;
    background-color: $pinkAccentColor;
    color: $whiteColor;

    p {
      font-size: 0.9rem;
    }
  }
}

.content-img {
  background-color: $pinkAccentColor;
}

footer {
  background-color: $pinkColor;
  width: 100vw;
  padding-bottom: 20px;
  color: $whiteColor;

  a {
    background-color: $blueColor;
    border-radius: 50%;
    margin-right: 20px;
    text-align: center;
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 50px;

    &:hover {
      background-color: $whiteColor;

      svg {
        fill: $blueColor;
      }

    }

    svg {
      fill: $whiteColor;
      width: 25px;
    }
  }

  img {
    height: 50px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 0;
  }

  h4 {
    position: relative;
    margin-bottom: 20px;

    &::after {
      content: "";
      border-bottom: 1px solid $whiteColor;
      width: 80%;
      bottom: -10px;
      position: absolute;
      display: block;
    }
  }

  p {
    font-size: 0.7rem;
  }

  .copy {
    font-size: 0.7rem;
  }
}

.btn-custom {
  background-color: $whiteColor;
  border: none;
  border-radius: 10px;
  color: $pinkAccentColor;
  padding: 0.5em 2.2em;

  &:hover,&:active,&:focus {
    background-color: $pinkColor;
    border-width: 2px;
    border-style: solid;
    border-color: $whiteColor;
    color: $whiteColor;
    box-shadow:none;
  }
}

// berita
.berita {
  margin-top: 50px;
  padding-top: 25px;
  .wrapper {
    height: 200px;
    width: 100%;

    img {
      object-fit: cover;
      object-position: top;
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  p {
    color: $pinkAccentColor;
    text-decoration: none;
    font-size: 0.7rem;
    margin-bottom: 0;
  }

  label {
    font-size: 0.8rem;
    font-weight: 600;
  }
}

// detail berita
.detail-berita {
  .wrapper {
    height: 40vh;
    width: 100%;
    margin-bottom: 10px;

    img {
      object-fit: cover;
      object-position: top;
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  small {
    font-size: 0.6rem;
  }

  h4 {
    margin-top: 20px;
    font-weight: 600;
  }

  label {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 767px) {
  .banner-content {
    max-height: 40vh;
    .img-fluid {
      max-width: none;
    }
  }
  .berita {
    padding-left:2rem;
    padding-right:2rem;
  }
  .banner {
    &-image {
      // height: 366px;
      position: relative;
    }
    small {
      font-size: 0.7rem;
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 40%;
    }
  }
}
@media screen and (min-width: 992px) {
  .navbar {
    background-color: $whiteColor !important;
    padding-top: 0;
    padding-bottom: 0;

    .navbar-brand {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    .nav-item {
      margin: 0 10px;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      &:hover {
        background-color: $pinkColor;

        .nav-link {
          color: $whiteColor !important;
        }
      }

      .nav-link {
        text-transform: uppercase;
        font-size: 0.8rem;
      }

      .dropdown-menu {
        background-color: $pinkColor;

        .dropdown-item {
          color: $whiteColor;

          &:hover {
            background-color: $pinkAccentColor;
          }
        }
      }
    }
  }

  .content-title {
    h2 {
      font-size: 2.7rem;
    }
  }

}

@media screen and (min-width: 1024px) {
  .banner {
    // height: 366px;

    &-text {
      display: flex;
      align-items: center;
      padding-left: 130px;
      padding-right: 40px;
      margin: 0;
      h1 {
        font-size: 2.7rem;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
    &-image {
      // height: 366px;
      text-align: right;
    }
    small {
      font-size: 0.7rem;
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 60%;
    }
  }

  .berita {
    background-color: #fff;
    padding: 20px 215px;

    &-title {
      h2 {
        font-size: 2rem;
        color: $pinkColor;
      }
    }

    p {
      margin: 0;
    }
  }
}
