@font-face {
  font-family: "BPreplay";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/BPreplay.otf");
}
@font-face {
  font-family: "BPreplay";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/BPreplayBold.otf");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Nunito-Light.ttf");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Nunito-Regular.ttf");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Nunito-Bold.ttf");
}
@font-face {
  font-family: "Robaga Rounded";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Robaga-Rounded-Light.otf");
}
@font-face {
  font-family: "Robaga Rounded";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Robaga-Rounded-Regular.otf");
}
@font-face {
  font-family: "Robaga Rounded";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Robaga-Rounded-Bold.otf");
}
$pinkColor: #feafce;
$pinkWhiteColor: #ffe3f1;
$pinkAccentColor: #fc7bfc;
$whiteColor: #fff;
$greyColor: #d8ecd1;

* {
  padding: 0;
  margin: 0;
}

html, body {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

.navbar {
  position: absolute;
  z-index: 9;
  min-height: 25px;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;

  &.fixed-top {
    // position: fixed;
  }

  &.fixed-top.scrolled {
    background-color: $pinkColor;
    transition: background-color 200ms linear;

    .nav-link {
      color: $whiteColor;
    }
  }

  .navbar-brand {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .nav-item {
    margin: 0 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .nav-link {
      font-family: 'Nunito', sans-serif;
      text-transform: uppercase;
      color: $whiteColor;
      font-size: 0.7rem;

      &:hover {
        color: $greyColor !important;
      }
    }
  }
}
.navbar-pink {
  background-color: $pinkColor;
}

.carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: $pinkAccentColor;
  opacity: 1;
  
  &.active {
    background-color: $greyColor;
  }
}

.banner {
  padding-top: 25px;
  position: relative;

  &-text {
    display: flex;
    align-items: center;
    padding-left: 45px;
    margin: 40px 0;
    h1 {
      font-family: 'Nunito', sans-serif;
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: 700;
    }
  }
}

.berita-main {
  background-color: $whiteColor;
  padding-top: 40px;
  padding-bottom: 40px;
  &-title {
    h2 {
      font-family: 'Nunito', sans-serif;
      font-size: 1.7rem;
      text-transform: uppercase;
      color: $pinkAccentColor;
    }
  }

  &-wrapper {
    height: 150px;
    width: 100%;

    img {
      object-fit: cover;
      object-position: top;
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  .row p {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 0.9rem;
    color: #000;
  }
}

.banner-content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 20vh;
  background-color: $pinkColor;
  
  .title {
    margin-bottom: 60px;
    h2 {
      font-family: 'Nunito', sans-serif;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
    }
  } 

  .banner-love {
    position: absolute;
    z-index: 2;
    top: 60px;
    right: 0;
    width: 300px;
    opacity: 30%;
  }
}

.submenu {
  display: inline;

  &-nav {
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: $pinkColor;
    
    ul {
      text-align: center;
      padding: 1.4rem 0;
      margin-bottom: 0;
  
      li {
        display: inline-block;
        margin: 0 1rem;
  
        a {
          font-family: 'Nunito', sans-serif;
          color: $whiteColor;
          text-decoration: none;
          
          &.active {
            color: $greyColor;
            font-weight: 700;
          }

          &:hover {
            color: $greyColor;
          }
        }
      }
    }
  }
}

main {
  section {
    font-weight: 300;
    position: relative;
    padding: 40px 40px;
    
    .title {
      h2 {
        font-family: 'Nunito', sans-serif;
        font-size: 3rem;
        position: relative;
        
        span {
          color: $pinkColor;
          font-family: sans-serif;
          font-weight: normal;
        }
      }

      &-right {
        text-align: right;

        h2 {
          font-family: 'Nunito', sans-serif;
          font-size: 3rem;
        }
      }
      
      &-underline {
        h2::after {
          content: "";
          border-bottom: 5px solid $pinkColor;
          bottom: -20px;
          width: 100px;
          position: absolute;
          display: block;
        }  
      }

      &-fill {
        h2 {
          font-family: 'Nunito', sans-serif;
          color: $whiteColor;
          text-align: right;
          background-color: $pinkColor;
          
          &::before {
            content: "";
            background-color: $pinkColor;
            width: 128%;
            height: 100%;
            bottom: 0;
            left: -140px;
            z-index: -1;
            position: absolute;
            display: block;
          }  
        }
      }
    }
    
    .photo {
      .wrapper {
        width: 100%;
        margin-bottom: 10px;
        
        img {
          object-fit: cover;
          object-position: top;
          display: block;
          height: 100%;
          width: 100%;
        }
      }

      small {
        font-size: 0.8rem;
        color: $pinkColor;
        
        a {
          color: $pinkColor;
        }
      }
    }

    &.bg-pink {
      background-color: $pinkColor;
      text-align: left;
      color: $whiteColor;

      small 
      {
        color: $whiteColor;
        a {
          color: $whiteColor;
        }
      }
      .title {
        margin-bottom: 20px;
        padding-left:10px;
        span {
          color: black;
        }

        // &-line {
        //   h2 {
            
        //     &::before {
        //       content: "";
        //       border: 2px solid $whiteColor;
        //       width: 130%;
        //       height: 110%;
        //       bottom: -10px;
        //       left: -140px;
        //       z-index: -1;
        //       position: absolute;
        //       display: block;
        //     }  
        //   }
        // }
      }
    }

    .desc ul>li, .desc ol>li {
      margin-bottom: 10px;
    }
  }
}

.content-img {
  background-color: $pinkAccentColor;
}

footer {
  background-color: $pinkWhiteColor;
  padding: 40px 0;

  .footer-kontak {
    font-family: 'Nunito', sans-serif;
  }

  a.icon {
    background-color: $pinkColor;
    border-radius: 50%;
    margin-right: 15px;
    text-align: center;
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border: 1px solid $pinkColor;

    &:hover {
      background-color: $whiteColor;

      svg {
        fill: $pinkColor;
      }

    }

    svg {
      fill: $whiteColor;
      width: 25px;
    }
  }

  img {
    height: 50px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 0;
  }

  h4 {
    position: relative;
    margin-bottom: 20px;

    &::after {
      content: "";
      border-bottom: 2px solid #000;
      width: 80%;
      bottom: -10px;
      position: absolute;
      display: block;
    }
  }

  p {
    font-size: 0.9rem;
  }

  .copy {
    font-family: 'Nunito', sans-serif;
    font-size: 0.7rem;
  }

}

a.to-top {
  position: absolute;
  bottom: 20px;
  right: 20px;

  svg {
    width: 50px;
    height: 50px;

    circle {
      stroke: $pinkColor;
    }
    path {
      stroke: $pinkColor;
    }
  }
  
  &.to-top-white svg {
    circle {
      stroke: $whiteColor;
    }
    path {
      stroke: $whiteColor;
    }
  }
  
  &:hover svg {
    fill: $pinkColor;
    
    circle {
      stroke: $whiteColor;
    }
    path {
      stroke: $whiteColor;
    }
  }

  &:hover.to-top-white svg {
    fill: $whiteColor;
    
    circle {
      stroke: $pinkColor;
    }
    path {
      stroke: $pinkColor;
    }
  }
}

.btn-custom {
  font-family: 'Nunito', sans-serif;
  background-color: $whiteColor;
  border: 2px solid $whiteColor;
  border-radius: 10px;
  color: $pinkAccentColor;
  padding: 0.5em 2.2em;

  &:hover,&:active,&:focus {
    background-color: $pinkColor;
    border: 2px solid $whiteColor;
    color: $whiteColor;
  }
}

// berita
.berita {
  padding-top: 100px;
  position: relative;

  .wrapper {
    width: 100%;

    img {
      object-fit: cover;
      object-position: top;
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  p {
    color: $pinkAccentColor;
    text-decoration: none;
    font-size: 0.7rem;
    margin-bottom: 0;
  }

  label {
    color: $pinkColor;
    font-size: 0.8rem;
    font-weight: 600;
  }

  .icon-love {
    position: absolute;
    top: 60px;
    right: 0;
    width: 50%;
    opacity: 30%;
  }
}

// detail berita
.detail-berita {
  padding-top: 100px;
  .wrapper {
    width: 100%;
    margin-bottom: 10px;

    img {
      object-fit: cover;
      object-position: top;
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  small {
    font-size: 0.6rem;
  }

  h4 {
    font-family: 'Nunito', sans-serif;
    margin-top: 20px;
    font-weight: normal;
  }

  label {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 0.9rem;
  }
}

.accordion {
  .card-header {
    background-color: $greyColor;

    h2 button {
      color: $whiteColor;
    }
  }
  
  .card-body {
    padding: 20px 40px;
    background-color: $pinkColor;
    color: $whiteColor;
  }
}

.faq {
  position: relative;

  .icon-love {
    position: absolute;
    top: 60px;
    right: 0;
    width: 50%;
    opacity: 30%;
  }
} 

@media screen and (max-width: 767px) {
  main {
    padding-top: 30px;
  }
  .navbar {
    position: fixed;
  }

  .submenu .submenu-nav {
    position: relative;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    
    ul {
      font-size: .8rem;
      overflow-x: hidden;
      white-space: nowrap;
      mask-image: linear-gradient(90deg,transparent,#fff 0%,#fff 80%, transparent);
    }
  }

  main section {
    padding-left: 20px;
    padding-right: 20px;
    .desc {
      padding-top: 20px;
    }
  }
  
  .berita {
    padding-left:2rem;
    padding-right:2rem;
  }
  .banner {
    &-image {
      position: relative;
    }
    small {
      font-size: 0.7rem;
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 40%;
    }
  }

  .accordion .card-body {
    padding: 20px;
  }

}

@media screen and (max-width: 991px) {
  .banner {
    padding-top: 20px;
  }
  .bg-transparent {
    background-color: $pinkColor;

    li.nav-item {
      &:hover {
        background-color: $greyColor;
      }

      a.nav-link {
        color: $whiteColor !important;
        
        &:hover {
          color: $whiteColor !important;
          font-weight: 700;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .banner-content .banner-love {
    width: 130px;
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;

    &.fixed-top {
      position: absolute;
    }

    .navbar-brand {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    .nav-item {
      margin: 0px;
      padding:0.5rem 10px;

      &.active {
        background-color: $greyColor;
      }

      &:hover {
        background-color: $greyColor;

        .nav-link {
          color: $whiteColor !important;
        }
      }

      .nav-link {
        max-width: 90px;
        text-align: center;
        font-size: 0.7rem;
        text-transform: uppercase;
      }
    }
  }

  .content-title {
    h2 {
      font-size: 2.7rem;
    }
  }

  main section {
    .desc {
      padding-left: 40px;
    }

    .photo.photo-center {
      padding: 0 140px;
    }
  } 

}

@media screen and (min-width: 1024px) {
  nav.navbar .container {
    max-width: none;
    width: 100%;
    margin: 0 130px;
  }

  .banner {
    &-text {
      display: flex;
      align-items: center;
      padding-left: 150px;
      margin: 0;
      h1 {
        font-size: 2.4rem;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
    &-image {
      text-align: right;
    }
    small {
      font-size: 0.7rem;
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 60%;
    }
  }

  main section {
    padding: 40px 130px;


    .title.title-right h2 {
      font-size: 3.7rem;
    }
  }

  .berita {
    background-color: #fff;
    padding-left: 215px;
    padding-right: 215px;

    &-title {
      h2 {
        font-size: 2rem;
        color: $pinkColor;
      }
    }

    p {
      margin: 0;
    }
  }
}
