@font-face {
  font-family: "BPreplay";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/BPreplay.otf"); }
@font-face {
  font-family: "BPreplay";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/BPreplayBold.otf"); }
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Nunito-Light.ttf"); }
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Nunito-Regular.ttf"); }
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Nunito-Bold.ttf"); }
@font-face {
  font-family: "Robaga Rounded";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Robaga-Rounded-Light.otf"); }
@font-face {
  font-family: "Robaga Rounded";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Robaga-Rounded-Regular.otf"); }
@font-face {
  font-family: "Robaga Rounded";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Robaga-Rounded-Bold.otf"); }
* {
  padding: 0;
  margin: 0; }

html, body {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box; }

.navbar {
  position: absolute;
  z-index: 9;
  min-height: 25px;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0; }
  .navbar.fixed-top.scrolled {
    background-color: #feafce;
    transition: background-color 200ms linear; }
    .navbar.fixed-top.scrolled .nav-link {
      color: #fff; }
  .navbar .navbar-brand {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .navbar .nav-item {
    margin: 0 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
    .navbar .nav-item .nav-link {
      font-family: 'Nunito', sans-serif;
      text-transform: uppercase;
      color: #fff;
      font-size: 0.7rem; }
      .navbar .nav-item .nav-link:hover {
        color: #d8ecd1 !important; }

.navbar-pink {
  background-color: #feafce; }

.carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #fc7bfc;
  opacity: 1; }
  .carousel .carousel-indicators li.active {
    background-color: #d8ecd1; }

.banner {
  padding-top: 25px;
  position: relative; }
  .banner-text {
    display: flex;
    align-items: center;
    padding-left: 45px;
    margin: 40px 0; }
    .banner-text h1 {
      font-family: 'Nunito', sans-serif;
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: 700; }

.berita-main {
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 40px; }
  .berita-main-title h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #fc7bfc; }
  .berita-main-wrapper {
    height: 150px;
    width: 100%; }
    .berita-main-wrapper img {
      object-fit: cover;
      object-position: top;
      display: block;
      height: 100%;
      width: 100%; }
  .berita-main .row p {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 0.9rem;
    color: #000; }

.banner-content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 20vh;
  background-color: #feafce; }
  .banner-content .title {
    margin-bottom: 60px; }
    .banner-content .title h2 {
      font-family: 'Nunito', sans-serif;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700; }
  .banner-content .banner-love {
    position: absolute;
    z-index: 2;
    top: 60px;
    right: 0;
    width: 300px;
    opacity: 30%; }

.submenu {
  display: inline; }
  .submenu-nav {
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: #feafce; }
    .submenu-nav ul {
      text-align: center;
      padding: 1.4rem 0;
      margin-bottom: 0; }
      .submenu-nav ul li {
        display: inline-block;
        margin: 0 1rem; }
        .submenu-nav ul li a {
          font-family: 'Nunito', sans-serif;
          color: #fff;
          text-decoration: none; }
          .submenu-nav ul li a.active {
            color: #d8ecd1;
            font-weight: 700; }
          .submenu-nav ul li a:hover {
            color: #d8ecd1; }

main section {
  font-weight: 300;
  position: relative;
  padding: 40px 40px; }
  main section .title h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 3rem;
    position: relative; }
    main section .title h2 span {
      color: #feafce;
      font-family: sans-serif;
      font-weight: normal; }
  main section .title-right {
    text-align: right; }
    main section .title-right h2 {
      font-family: 'Nunito', sans-serif;
      font-size: 3rem; }
  main section .title-underline h2::after {
    content: "";
    border-bottom: 5px solid #feafce;
    bottom: -20px;
    width: 100px;
    position: absolute;
    display: block; }
  main section .title-fill h2 {
    font-family: 'Nunito', sans-serif;
    color: #fff;
    text-align: right;
    background-color: #feafce; }
    main section .title-fill h2::before {
      content: "";
      background-color: #feafce;
      width: 128%;
      height: 100%;
      bottom: 0;
      left: -140px;
      z-index: -1;
      position: absolute;
      display: block; }
  main section .photo .wrapper {
    width: 100%;
    margin-bottom: 10px; }
    main section .photo .wrapper img {
      object-fit: cover;
      object-position: top;
      display: block;
      height: 100%;
      width: 100%; }
  main section .photo small {
    font-size: 0.8rem;
    color: #feafce; }
    main section .photo small a {
      color: #feafce; }
  main section.bg-pink {
    background-color: #feafce;
    text-align: left;
    color: #fff; }
    main section.bg-pink small {
      color: #fff; }
      main section.bg-pink small a {
        color: #fff; }
    main section.bg-pink .title {
      margin-bottom: 20px;
      padding-left: 10px; }
      main section.bg-pink .title span {
        color: black; }
  main section .desc ul > li, main section .desc ol > li {
    margin-bottom: 10px; }

.content-img {
  background-color: #fc7bfc; }

footer {
  background-color: #ffe3f1;
  padding: 40px 0; }
  footer .footer-kontak {
    font-family: 'Nunito', sans-serif; }
  footer a.icon {
    background-color: #feafce;
    border-radius: 50%;
    margin-right: 15px;
    text-align: center;
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border: 1px solid #feafce; }
    footer a.icon:hover {
      background-color: #fff; }
      footer a.icon:hover svg {
        fill: #feafce; }
    footer a.icon svg {
      fill: #fff;
      width: 25px; }
  footer img {
    height: 50px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 0; }
  footer h4 {
    position: relative;
    margin-bottom: 20px; }
    footer h4::after {
      content: "";
      border-bottom: 2px solid #000;
      width: 80%;
      bottom: -10px;
      position: absolute;
      display: block; }
  footer p {
    font-size: 0.9rem; }
  footer .copy {
    font-family: 'Nunito', sans-serif;
    font-size: 0.7rem; }

a.to-top {
  position: absolute;
  bottom: 20px;
  right: 20px; }
  a.to-top svg {
    width: 50px;
    height: 50px; }
    a.to-top svg circle {
      stroke: #feafce; }
    a.to-top svg path {
      stroke: #feafce; }
  a.to-top.to-top-white svg circle {
    stroke: #fff; }
  a.to-top.to-top-white svg path {
    stroke: #fff; }
  a.to-top:hover svg {
    fill: #feafce; }
    a.to-top:hover svg circle {
      stroke: #fff; }
    a.to-top:hover svg path {
      stroke: #fff; }
  a.to-top:hover.to-top-white svg {
    fill: #fff; }
    a.to-top:hover.to-top-white svg circle {
      stroke: #feafce; }
    a.to-top:hover.to-top-white svg path {
      stroke: #feafce; }

.btn-custom {
  font-family: 'Nunito', sans-serif;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fc7bfc;
  padding: 0.5em 2.2em; }
  .btn-custom:hover, .btn-custom:active, .btn-custom:focus {
    background-color: #feafce;
    border: 2px solid #fff;
    color: #fff; }

.berita {
  padding-top: 100px;
  position: relative; }
  .berita .wrapper {
    width: 100%; }
    .berita .wrapper img {
      object-fit: cover;
      object-position: top;
      display: block;
      height: 100%;
      width: 100%; }
  .berita p {
    color: #fc7bfc;
    text-decoration: none;
    font-size: 0.7rem;
    margin-bottom: 0; }
  .berita label {
    color: #feafce;
    font-size: 0.8rem;
    font-weight: 600; }
  .berita .icon-love {
    position: absolute;
    top: 60px;
    right: 0;
    width: 50%;
    opacity: 30%; }

.detail-berita {
  padding-top: 100px; }
  .detail-berita .wrapper {
    width: 100%;
    margin-bottom: 10px; }
    .detail-berita .wrapper img {
      object-fit: cover;
      object-position: top;
      display: block;
      height: 100%;
      width: 100%; }
  .detail-berita small {
    font-size: 0.6rem; }
  .detail-berita h4 {
    font-family: 'Nunito', sans-serif;
    margin-top: 20px;
    font-weight: normal; }
  .detail-berita label {
    font-size: 1.2rem;
    margin-bottom: 20px; }
  .detail-berita p {
    font-size: 0.9rem; }

.accordion .card-header {
  background-color: #d8ecd1; }
  .accordion .card-header h2 button {
    color: #fff; }
.accordion .card-body {
  padding: 20px 40px;
  background-color: #feafce;
  color: #fff; }

.faq {
  position: relative; }
  .faq .icon-love {
    position: absolute;
    top: 60px;
    right: 0;
    width: 50%;
    opacity: 30%; }

@media screen and (max-width: 767px) {
  main {
    padding-top: 30px; }

  .navbar {
    position: fixed; }

  .submenu .submenu-nav {
    position: relative;
    padding-left: 1.5rem;
    padding-right: 1.5rem; }
    .submenu .submenu-nav ul {
      font-size: .8rem;
      overflow-x: hidden;
      white-space: nowrap;
      mask-image: linear-gradient(90deg, transparent, #fff 0%, #fff 80%, transparent); }

  main section {
    padding-left: 20px;
    padding-right: 20px; }
    main section .desc {
      padding-top: 20px; }

  .berita {
    padding-left: 2rem;
    padding-right: 2rem; }

  .banner-image {
    position: relative; }
  .banner small {
    font-size: 0.7rem;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 40%; }

  .accordion .card-body {
    padding: 20px; } }
@media screen and (max-width: 991px) {
  .banner {
    padding-top: 20px; }

  .bg-transparent {
    background-color: #feafce; }
    .bg-transparent li.nav-item:hover {
      background-color: #d8ecd1; }
    .bg-transparent li.nav-item a.nav-link {
      color: #fff !important; }
      .bg-transparent li.nav-item a.nav-link:hover {
        color: #fff !important;
        font-weight: 700; } }
@media screen and (max-width: 1024px) {
  .banner-content .banner-love {
    width: 130px; } }
@media screen and (min-width: 992px) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0; }
    .navbar.fixed-top {
      position: absolute; }
    .navbar .navbar-brand {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem; }
    .navbar .nav-item {
      margin: 0px;
      padding: 0.5rem 10px; }
      .navbar .nav-item.active {
        background-color: #d8ecd1; }
      .navbar .nav-item:hover {
        background-color: #d8ecd1; }
        .navbar .nav-item:hover .nav-link {
          color: #fff !important; }
      .navbar .nav-item .nav-link {
        max-width: 90px;
        text-align: center;
        font-size: 0.7rem;
        text-transform: uppercase; }

  .content-title h2 {
    font-size: 2.7rem; }

  main section .desc {
    padding-left: 40px; }
  main section .photo.photo-center {
    padding: 0 140px; } }
@media screen and (min-width: 1024px) {
  nav.navbar .container {
    max-width: none;
    width: 100%;
    margin: 0 130px; }

  .banner-text {
    display: flex;
    align-items: center;
    padding-left: 150px;
    margin: 0; }
    .banner-text h1 {
      font-size: 2.4rem;
      font-weight: 600;
      text-transform: uppercase; }
  .banner-image {
    text-align: right; }
  .banner small {
    font-size: 0.7rem;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 60%; }

  main section {
    padding: 40px 130px; }
    main section .title.title-right h2 {
      font-size: 3.7rem; }

  .berita {
    background-color: #fff;
    padding-left: 215px;
    padding-right: 215px; }
    .berita-title h2 {
      font-size: 2rem;
      color: #feafce; }
    .berita p {
      margin: 0; } }

/*# sourceMappingURL=app.css.map */
