@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Nunito-Light.ttf"); }
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Nunito-Regular.ttf"); }
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Nunito-Bold.ttf"); }
* {
  padding: 0;
  margin: 0; }

body {
  font-family: "Nunito", cursive;
  overflow-x: hidden;
  position: relative; }

.navbar {
  padding-top: 0;
  padding-bottom: 0; }
  .navbar .custom-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px; }
  .navbar.navbar-white .navbar-toggler {
    border: 2px solid #d8339c !important; }
    .navbar.navbar-white .navbar-toggler-icon {
      width: 1.5rem;
      height: 1.5rem;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(216, 51, 156, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important; }
  .navbar-toggler {
    padding: 0.5rem 0.5rem;
    margin: 1rem 0;
    border-radius: 50%;
    border: 2px solid #fff !important; }
    .navbar-toggler-icon {
      width: 1.5rem;
      height: 1.5rem;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important; }
  .navbar .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #b43ca8;
    overflow-x: hidden;
    transition: 0.5s; }
    .navbar .overlay-content {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px; }
    .navbar .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #fff;
      display: block;
      transition: 0.3s; }
      .navbar .overlay a:hover, .navbar .overlay a:focus {
        color: #fff; }
    .navbar .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      padding: 0 1rem;
      border: 2px solid #fff;
      border-radius: 50%; }
      .navbar .overlay .closebtn:hover {
        background-color: #fff;
        color: #b43ca8; }
  .navbar .nav-item {
    margin: 0 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
    .navbar .nav-item .nav-link {
      text-transform: uppercase;
      font-size: 0.8rem; }
      .navbar .nav-item .nav-link:hover {
        color: #d8339c !important; }
    .navbar .nav-item .dropdown-menu {
      background-color: #d8339c; }
      .navbar .nav-item .dropdown-menu.show {
        width: 100%; }
      .navbar .nav-item .dropdown-menu .dropdown-item {
        white-space: normal;
        color: #fff;
        font-size: 1rem;
        width: initial; }
        .navbar .nav-item .dropdown-menu .dropdown-item:hover {
          background-color: #b43ca8; }

.banner {
  padding-top: 15vh;
  background: linear-gradient(to right, #8448c8, #d93399);
  min-height: 90vh; }
  .banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 45px;
    padding-right: 45px;
    margin: 40px 0; }
    .banner-text h1 {
      font-size: 2rem;
      font-weight: 600;
      text-transform: uppercase; }

.banner .banner-image {
  position: relative; }
  .banner .banner-image small {
    font-size: 0.7rem;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 30%; }

.berita-main {
  padding-top: 30px; }
  .berita-main h2 {
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    margin-bottom: 40px;
    font-weight: 600; }
    .berita-main h2::after {
      content: "";
      border-bottom: 3px solid #fff;
      width: 50%;
      bottom: -10px;
      position: absolute;
      display: block; }
  .berita-main-wrapper {
    width: 100%; }
    .berita-main-wrapper img {
      object-fit: cover;
      object-position: top;
      display: block;
      height: 100%;
      width: 100%; }
  .berita-main p {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 0.7rem;
    color: #fff; }

.banner-content {
  width: 100vw;
  max-height: 50vh;
  overflow: hidden; }
  .banner-content img {
    height: 100%;
    min-width: 100%;
    left: 50%;
    position: relative;
    object-fit: cover;
    object-position: bottom;
    transform: translateX(-50%); }

.content {
  margin-top: 50px;
  color: #b43ca8; }
  .content-title {
    margin-top: 40px; }
    .content-title h2 {
      margin-bottom: 30px;
      font-size: 1.6rem; }
  .content-desc {
    padding: 70px 25px;
    color: #fff;
    position: relative; }
    .content-desc-bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      background-color: #b43ca8; }
    .content-desc p {
      font-size: 0.9rem; }
      .content-desc p.content-quran {
        font-family: sans-serif; }
    .content-desc .img-program {
      margin-top: 20px;
      position: relative; }

.content-img {
  margin-top: 20px;
  margin-bottom: 20px; }
  .content-img .wrapper {
    height: 40vh;
    width: 100%;
    margin-bottom: 10px; }
    .content-img .wrapper img {
      object-fit: cover;
      object-position: top;
      display: block;
      height: 100%;
      width: 100%; }
  .content-img small {
    font-size: 0.8rem; }

footer {
  background-color: rgba(0, 0, 0, 0);
  width: 100vw;
  color: #d8339c;
  border-top: 1px solid #d8339c;
  padding: 0 40px; }
  footer.no-line {
    border-top: none; }
    footer.no-line .icon-socmed {
      text-align: center; }
  footer a {
    background-color: #8447c5;
    border-radius: 50%;
    margin-right: 20px;
    text-align: center;
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 50px; }
    footer a:hover {
      background-color: #fff; }
    footer a:hover svg {
      background-color: #fff;
      fill: #8447c5; }
    footer a svg {
      fill: #fff;
      width: 25px; }
  footer img {
    height: 50px;
    margin-right: 20px;
    margin-bottom: 20px; }
  footer h4 {
    position: relative;
    margin-bottom: 20px; }
    footer h4::after {
      content: "";
      border-bottom: 1px solid #d8339c;
      width: 80%;
      bottom: -10px;
      position: absolute;
      display: block; }
  footer p {
    font-size: 0.7rem; }
  footer .copy {
    font-size: 0.7rem; }

.btn-custom {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  color: #d8339c;
  padding: 0.5em 2.2em; }
  .btn-custom:hover {
    background-color: #d8339c;
    color: #fff; }

.berita {
  margin-top: 15vh; }
  .berita .col-md-4 {
    padding-left: 0;
    padding-right: 0; }
  .berita .wrapper {
    height: 200px;
    width: 100%; }
    .berita .wrapper img {
      object-fit: cover;
      object-position: top;
      display: block;
      height: 100%;
      width: 100%; }
  .berita p {
    color: #b43ca8;
    text-decoration: none;
    font-size: 0.7rem;
    margin-bottom: 0; }
  .berita label {
    font-size: 0.8rem;
    font-weight: 600; }

.detail-berita {
  margin-top: 15vh; }
  .detail-berita .wrapper {
    height: 40vh;
    width: 100%;
    margin-bottom: 10px; }
    .detail-berita .wrapper img {
      object-fit: cover;
      object-position: top;
      display: block;
      height: 100%;
      width: 100%; }
  .detail-berita small {
    font-size: 0.6rem; }
  .detail-berita h4 {
    margin-top: 20px;
    font-weight: 600; }
  .detail-berita label {
    font-size: 1.2rem;
    margin-bottom: 20px; }
  .detail-berita p {
    font-size: 0.9rem; }

@media screen and (min-width: 1024px) {
  .navbar .custom-container {
    padding: 0 100px; }

  .banner-text {
    display: flex;
    align-items: center;
    padding-left: 130px;
    padding-right: 40px;
    margin-bottom: 0; }
    .banner-text h1 {
      font-size: 2.7rem;
      font-weight: 600;
      text-transform: uppercase; }
  .banner-image {
    text-align: right; }

  .berita {
    background-color: #fff;
    padding: 20px 215px; }
    .berita-title h2 {
      font-size: 2rem;
      color: #d8339c; }
    .berita p {
      margin: 0; }

  footer {
    padding: 0 120px; } }
@media screen and (min-width: 992px) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0; }
    .navbar .navbar-brand {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem; }
    .navbar .nav-item {
      margin: 0 10px;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem; }
      .navbar .nav-item:hover {
        background-color: #d8339c; }
      .navbar .nav-item .nav-link {
        text-transform: uppercase;
        font-size: 0.8rem; }
        .navbar .nav-item .nav-link:hover {
          color: #fff !important; }
      .navbar .nav-item .dropdown-menu {
        background-color: #d8339c; }
        .navbar .nav-item .dropdown-menu .dropdown-item {
          color: #fff; }
          .navbar .nav-item .dropdown-menu .dropdown-item:hover {
            background-color: #b43ca8; }

  .banner .banner-image {
    position: relative; }
    .banner .banner-image img {
      position: absolute;
      z-index: 1;
      right: 0;
      bottom: 0; }
    .banner .banner-image small {
      font-size: 0.7rem;
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 40%; }

  .content-title h2 {
    font-size: 2.7rem; } }
@media screen and (min-width: 768px) {
  .content {
    color: #b43ca8; }
    .content-title {
      margin-top: 120px; }
      .content-title h2 {
        margin-bottom: 30px;
        font-size: 1.6rem; }
    .content .img-program {
      margin-top: 20px;
      position: relative;
      bottom: 0;
      left: 50%; } }
@media screen and (max-width: 425px) {
  .navbar {
    padding-left: 0;
    padding-right: 0; }
    .navbar .overlay-content {
      text-align: left; }
    .navbar .overlay .closebtn {
      right: 1rem; }
    .navbar .nav-item .dropdown-menu .dropdown-item {
      font-size: 0.7rem; } }

/*# sourceMappingURL=app.css.map */
