@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Nunito-Light.ttf");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Nunito-Regular.ttf");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Nunito-Bold.ttf");
}
$pinkColor: #d8339c;
$pinkAccentColor: #b43ca8;
$blueColor: #8447c5;
$whiteColor: #fff;

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito", cursive;
  overflow-x: hidden;
  position: relative;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;

  .custom-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px;
  }

  &.navbar-white &-toggler {
    border: 2px solid $pinkColor !important;

    &-icon {
      width: 1.5rem;
      height: 1.5rem;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(216, 51, 156, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }
  }

  &-toggler {
    padding: 0.5rem 0.5rem;
    margin: 1rem 0;
    border-radius: 50%;
    border: 2px solid #fff !important;

    &-icon {
      width: 1.5rem;
      height: 1.5rem;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }
  }

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $pinkAccentColor;
    overflow-x: hidden;
    transition: 0.5s;

    &-content {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }

    a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: $whiteColor;
      display: block;
      transition: 0.3s;

      &:hover,
      &:focus {
        color: $whiteColor;
      }
    }

    .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      padding: 0 1rem;
      border: 2px solid $whiteColor;
      border-radius: 50%;

      &:hover {
        background-color: $whiteColor;
        color: $pinkAccentColor;
      }
    }
  }

  .nav-item {
    margin: 0 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .nav-link {
      text-transform: uppercase;
      font-size: 0.8rem;

      &:hover {
        color: $pinkColor !important;
      }
    }

    .dropdown-menu {
      background-color: $pinkColor;

      &.show {
        width: 100%;
      }

      .dropdown-item {
        white-space: normal;
        color: $whiteColor;
        font-size: 1rem;
        width: initial;

        &:hover {
          background-color: $pinkAccentColor;
        }
      }
    }
  }
}

.banner {
  padding-top: 15vh;
  background: linear-gradient(to right, rgb(132, 72, 200), rgb(217, 51, 153));
  min-height: 90vh;

  &-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 45px;
    padding-right: 45px;
    margin: 40px 0;
    h1 {
      font-size: 2rem;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}

.banner .banner-image {
  position: relative;

  small {
    font-size: 0.7rem;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 30%;
  }
}

.berita-main {
  padding-top: 30px;

  h2 {
    font-size: 1.7rem;
    text-transform: uppercase;
    color: $whiteColor;
    position: relative;
    margin-bottom: 40px;
    font-weight: 600;

    &::after {
      content: "";
      border-bottom: 3px solid $whiteColor;
      width: 50%;
      bottom: -10px;
      position: absolute;
      display: block;
    }
  }

  &-wrapper {
    width: 100%;

    img {
      object-fit: cover;
      object-position: top;
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  p {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 0.7rem;
    color: $whiteColor;
  }
}

// herd-immunity
.banner-content {
  width: 100vw;
  max-height: 50vh;
  overflow: hidden;

  img {
    height: 100%;
    min-width: 100%;
    left: 50%;
    position: relative;
    object-fit: cover;
    object-position: bottom;
    transform: translateX(-50%);
  }
}

.content {
  margin-top: 50px;
  color: $pinkAccentColor;

  &-title {
    margin-top: 40px;

    h2 {
      margin-bottom: 30px;
      font-size: 1.6rem;
    }
  }

  &-desc {
    padding: 70px 25px;
    color: $whiteColor;
    position: relative;

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      background-color: $pinkAccentColor;
    }

    p {
      font-size: 0.9rem;

      &.content-quran {
        font-family: sans-serif;
      }
    }

    .img-program {
      margin-top: 20px;
      position: relative;
    }
  }
}

.content-img {
  margin-top: 20px;
  margin-bottom: 20px;

  .wrapper {
    height: 40vh;
    width: 100%;
    margin-bottom: 10px;

    img {
      object-fit: cover;
      object-position: top;
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  small {
    font-size: 0.8rem;
  }
}

footer {
  background-color: rgba(0,0,0,0);
  width: 100vw;
  color: $pinkColor;
  border-top: 1px solid $pinkColor;
  padding: 0 40px;
  
  &.no-line {
    border-top: none;
  
    .icon-socmed {
      text-align: center;
    }
  }

  a {
    background-color: $blueColor;
    border-radius: 50%;
    margin-right: 20px;
    text-align: center;
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 50px;

    &:hover {
      background-color: $whiteColor;
    }

    &:hover svg {
      background-color: $whiteColor;
      fill: $blueColor;
    }

    svg {
      fill: $whiteColor;
      width: 25px;
    }
  }

  img {
    height: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  h4 {
    position: relative;
    margin-bottom: 20px;

    &::after {
      content: "";
      border-bottom: 1px solid $pinkColor;
      width: 80%;
      bottom: -10px;
      position: absolute;
      display: block;
    }
  }

  p {
    font-size: 0.7rem;
  }

  .copy {
    font-size: 0.7rem;
  }
}

.btn-custom {
  background-color: $whiteColor;
  border: none;
  border-radius: 10px;
  color: $pinkColor;
  padding: 0.5em 2.2em;

  &:hover {
    background-color: $pinkColor;
    color: $whiteColor;
  }
}

// berita
.berita {
  margin-top: 15vh;

  .col-md-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .wrapper {
    height: 200px;
    width: 100%;

    img {
      object-fit: cover;
      object-position: top;
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  p {
    color: $pinkAccentColor;
    text-decoration: none;
    font-size: 0.7rem;
    margin-bottom: 0;
  }

  label {
    font-size: 0.8rem;
    font-weight: 600;
  }
}

// detail berita
.detail-berita {
  margin-top: 15vh;

  .wrapper {
    height: 40vh;
    width: 100%;
    margin-bottom: 10px;

    img {
      object-fit: cover;
      object-position: top;
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  small {
    font-size: 0.6rem;
  }

  h4 {
    margin-top: 20px;
    font-weight: 600;
  }

  label {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1024px) {
  .navbar .custom-container {
    padding: 0 100px;
  }

  .banner {
    &-text {
      display: flex;
      align-items: center;
      padding-left: 130px;
      padding-right: 40px;
      margin-bottom: 0;
      h1 {
        font-size: 2.7rem;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
    &-image {
      text-align: right;
    }
  }

  .berita {
    background-color: #fff;
    padding: 20px 215px;

    &-title {
      h2 {
        font-size: 2rem;
        color: $pinkColor;
      }
    }

    p {
      margin: 0;
    }
  }

  footer {
    padding: 0 120px;
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;

    .navbar-brand {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    .nav-item {
      margin: 0 10px;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      &:hover {
        background-color: $pinkColor;
      }

      .nav-link {
        text-transform: uppercase;
        font-size: 0.8rem;

        &:hover {
          color: $whiteColor !important;
        }
      }

      .dropdown-menu {
        background-color: $pinkColor;

        .dropdown-item {
          color: $whiteColor;

          &:hover {
            background-color: $pinkAccentColor;
          }
        }
      }
    }
  }

  .banner .banner-image {
    position: relative;

    img {
      position: absolute;
      z-index: 1;
      right: 0;
      bottom: 0;
    }

    small {
      font-size: 0.7rem;
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 40%;
    }
  }

  .content-title {
    h2 {
      font-size: 2.7rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .content {
    color: $pinkAccentColor;

    &-title {
      margin-top: 120px;

      h2 {
        margin-bottom: 30px;
        font-size: 1.6rem;
      }
    }

    .img-program {
      margin-top: 20px;
      position: relative;
      bottom: 0;
      left: 50%;
    }
  }
}

@media screen and (max-width: 425px) {
  .navbar {
    padding-left: 0;
    padding-right: 0;

    .overlay {
      &-content {
        text-align: left;
      }
      .closebtn {
        right: 1rem;
      }
    }

    .nav-item .dropdown-menu .dropdown-item {
      font-size: 0.7rem;
    }
  }
}
