@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Nunito-Light.ttf");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Nunito-Regular.ttf");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Nunito-Bold.ttf");
}
$greyColor: #fc7bf9;
$greyAccentColor: #fc7bfc;
$yellowColor: #d0d453;
$blueColor: #8447c5;
$whiteColor: #fff;

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;

  &.navbar-white &-toggler {
    border: 2px solid $greyColor !important;

    &-icon {
      width: 1.5rem;
      height: 1.5rem;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(216, 51, 156, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }
  }

  &-toggler {
    padding: 0.5rem 0.5rem;
    margin: 1rem;
    border-radius: 50%;
    background-color: $whiteColor;

    &-icon {
      width: 1.5rem;
      height: 1.5rem;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(208, 212, 83, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }
  }

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $greyAccentColor;
    overflow-x: hidden;
    transition: 0.5s;

    &-content {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }

    a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: $whiteColor;
      display: block;
      transition: 0.3s;

      &:hover,
      &:focus {
        color: $whiteColor;
      }
    }

    &-brand {
      display: flex;
      padding-top: 25px;
      width: 100%;
      justify-content: center;
    }

    .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      padding: 0 1.1rem;
      padding-bottom: 0.2rem;
      background-color: $whiteColor;
      color: $yellowColor;
      border-radius: 50%;

      &:hover {
        background: none;
        border: 2px solid $whiteColor;
        color: $whiteColor;
      }
    }
  }

  .nav-item {
    margin: 0 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .nav-link {
      text-transform: uppercase;
      font-size: 0.8rem;

      &:hover {
        color: $greyColor !important;
      }
    }

    .dropdown-menu {
      background-color: $greyColor;

      &.show {
        width: 100%;
      }

      .dropdown-item {
        text-align: center;
        color: $whiteColor;
        font-size: 1rem;
        width: initial;

        &:hover {
          background-color: $yellowColor;
        }
      }
    }
  }
}

.banner {
  padding-top: 15vh;
  background: linear-gradient(to right top, $greyColor, $yellowColor);
  min-height: 80vh;

  &-text {
    position: relative;
    text-align: center;
    justify-content: center;

    img {
      height: 70vh;
      bottom: 0;
    }
    h1 {
      position: absolute;
      top: 40%;
      z-index: 1;
      font-size: 2rem;
      font-weight: 600;
      text-transform: uppercase;
    }
    small {
      font-size: 0.7rem;
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 40%;
    }
  }
}

.berita-main {
  padding-top: 30px;
  padding-bottom: 30px;

  h2 {
    font-size: 1.7rem;
    text-transform: uppercase;
    color: $yellowColor;
    position: relative;
    margin-bottom: 40px;
    font-weight: 400;

    &::after {
      content: "";
      border-bottom: 3px solid $yellowColor;
      width: 30%;
      bottom: -10px;
      position: absolute;
      display: block;
    }
  }

  &-wrapper {
    height: 200px;
    width: 100%;

    img {
      object-fit: cover;
      object-position: top;
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  p {
    margin-top: 13px;
    margin-bottom: 20px;
    font-size: 0.8rem;
    color: $yellowColor;
  }
}

// herd-immunity
.banner-content {
  display: flex;
  align-content: center;
  padding-top: 15vh;
  background: linear-gradient(to right, $greyColor, $yellowColor);
  min-height: 40vh;

  &-berita {
    min-height: 15vh;
  }
}

.content {
  color: $yellowColor;
  margin-bottom: 30px;

  &-title {
    margin-top: 40px;

    h2 {
      margin-bottom: 30px;
      font-size: 1.6rem;
      font-weight: 700;
    }
  }

  &-desc {
    padding-top: 40px;
    color: $yellowColor;

    p {
      font-size: 1rem;
      font-weight: 300;
    }

    .img-program {
      margin-top: 20px;
      position: relative;
    }
  }

  &-img {
    padding-top: 40px;
    .wrapper {
      height: 40vh;
      width: 100%;
      margin-bottom: 10px;

      img {
        object-fit: cover;
        object-position: top;
        display: block;
        height: 100%;
        width: 100%;
      }
    }
    small {
      font-size: 0.8rem;

      a {
        text-decoration: none;
        color: $yellowColor;
      }
    }
  }
}

footer {
  background-color: $whiteColor;
  width: 100vw;
  color: $yellowColor;
  border-top: 1px solid $yellowColor;

  a {
    background-color: $yellowColor;
    border-radius: 50%;
    margin-right: 15px;
    text-align: center;
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 50px;

    &:hover {
      background-color: $whiteColor;
    }

    &:hover svg {
      fill: $yellowColor;
    }

    svg {
      fill: $whiteColor;
      width: 25px;
    }
  }

  img {
    height: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  h4 {
    position: relative;
    margin-bottom: 20px;

    &::after {
      content: "";
      border-bottom: 1px solid $yellowColor;
      width: 60%;
      bottom: -10px;
      position: absolute;
      display: block;
    }
  }

  p {
    font-size: 0.7rem;
  }

  .copy {
    font-size: 0.7rem;
  }
}

.btn-custom {
  background-color: $whiteColor;
  border: 1px solid $yellowColor;
  border-radius: 10px;
  color: $yellowColor;
  padding: 0.5em 2.2em;

  &:hover,
  &:focus {
    border: 1px solid $yellowColor;
    background-color: $yellowColor;
    color: $whiteColor;
  }
}

// berita
.berita {
  margin-top: 20px;
  margin-bottom: 20px;

  .wrapper {
    height: 300px;
    width: 100%;

    img {
      object-fit: cover;
      object-position: top;
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  p {
    color: $yellowColor;
    text-decoration: none;
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: 300;
  }

  label {
    font-size: 0.8rem;
    font-weight: 700;
    color: $yellowColor;
  }
}

// detail berita
.detail-berita {
  margin-top: 40px;
  color: $yellowColor;

  .wrapper {
    height: 50vh;
    width: 100%;
    margin-bottom: 10px;

    img {
      object-fit: cover;
      object-position: top;
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  small {
    font-size: 0.6rem;
  }

  h4 {
    margin-top: 20px;
    font-weight: 600;
  }

  label {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1024px) {
  .banner {
    &-text {
      display: flex;
      align-items: center;
      padding-left: 130px;
      padding-right: 40px;
      margin-bottom: 0;
      h1 {
        font-size: 2.7rem;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
    &-image {
      text-align: right;
    }
  }

  .berita {
    background-color: #fff;
    padding: 20px 215px;

    &-title {
      h2 {
        font-size: 2rem;
        color: $greyColor;
      }
    }

    p {
      margin: 0;
    }
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;

    .navbar-brand {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    .nav-item {
      margin: 0 10px;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      &:hover {
        background-color: $greyColor;
      }

      .nav-link {
        text-transform: uppercase;
        font-size: 1.2rem;

        &:hover {
          color: $yellowColor !important;
        }
      }

      .dropdown-menu {
        background-color: $greyColor;
        border: none;

        .dropdown-item {
          color: $whiteColor;

          &:hover {
            background-color: $yellowColor;
          }
        }
      }
    }
  }

  .banner .banner-image {
    position: relative;

    img {
      position: absolute;
      z-index: 1;
      right: 0;
      bottom: 0;
    }

    small {
      font-size: 0.7rem;
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 40%;
    }
  }

  .content-title {
    h2 {
      font-size: 2.7rem;
    }
  }
}
.dropdown-item {
  text-align: left;
  font-size: 0.7rem;
}

@media screen and (min-width: 768px) {
  .content {
    color: $yellowColor;

    &-title {
      margin-top: 120px;

      h2 {
        margin-bottom: 80px;
        font-size: 1.6rem;
      }
    }

    .img-program {
      margin-top: 20px;
      position: relative;
      bottom: 0;
      left: 50%;
    }
  }

  .footer-socmed {
    background-color: $yellowColor;
    position: relative;
    left: 70px;

    .icon-socmed {
      position: absolute;
      top: 0;
      left: -70px;
    }
  }
}

@media screen and (max-width: 425px) {
  .navbar {
    padding-left: 0;
    padding-right: 0;

    .overlay {
      &-content {
        text-align: left;
      }
      .closebtn {
        right: 1rem;
      }
    }

    .nav-item {
      .nav-link {
        font-size: 1rem;

        &:hover,
        &:focus {
          color: $yellowColor !important;
        }
      }

      .dropdown-menu {
        background-color: $greyColor;
        border: none;

        .dropdown-item {
          text-align: left;
          font-size: 0.9rem;

          &:hover {
            background-color: $yellowColor;
          }
        }
      }
    }
  }
}
