@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Nunito-Light.ttf");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Nunito-Regular.ttf");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Nunito-Bold.ttf");
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar.navbar-white .navbar-toggler {
  border: 2px solid #fc7bf9 !important;
}

.navbar.navbar-white .navbar-toggler-icon {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(216, 51, 156, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler {
  padding: 0.5rem 0.5rem;
  margin: 1rem;
  border-radius: 50%;
  background-color: #fff;
}

.navbar-toggler-icon {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(208, 212, 83, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fc7bfc;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar .overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.navbar .overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #fff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .overlay a:hover, .navbar .overlay a:focus {
  color: #fff;
}

.navbar .overlay-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  padding: 0 1.1rem;
  padding-bottom: 0.2rem;
  background-color: #fff;
  color: #d0d453;
  border-radius: 50%;
}

.navbar .overlay .closebtn:hover {
  background: none;
  border: 2px solid #fff;
  color: #fff;
}

.navbar .nav-item {
  margin: 0 10px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.navbar .nav-item .nav-link:hover {
  color: #fc7bf9 !important;
}

.navbar .nav-item .dropdown-menu {
  background-color: #fc7bf9;
}

.navbar .nav-item .dropdown-menu.show {
  width: 100%;
}

.navbar .nav-item .dropdown-menu .dropdown-item {
  text-align: center;
  color: #fff;
  font-size: 1rem;
  width: initial;
}

.navbar .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: #d0d453;
}

.banner {
  padding-top: 15vh;
  background: -webkit-gradient(linear, left bottom, right top, from(#fc7bf9), to(#d0d453));
  background: linear-gradient(to right top, #fc7bf9, #d0d453);
  min-height: 80vh;
}

.banner-text {
  position: relative;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner-text img {
  height: 70vh;
  bottom: 0;
}

.banner-text h1 {
  position: absolute;
  top: 40%;
  z-index: 1;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.banner-text small {
  font-size: 0.7rem;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 40%;
}

.berita-main {
  padding-top: 30px;
  padding-bottom: 30px;
}

.berita-main h2 {
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #d0d453;
  position: relative;
  margin-bottom: 40px;
  font-weight: 400;
}

.berita-main h2::after {
  content: "";
  border-bottom: 3px solid #d0d453;
  width: 30%;
  bottom: -10px;
  position: absolute;
  display: block;
}

.berita-main-wrapper {
  height: 200px;
  width: 100%;
}

.berita-main-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  display: block;
  height: 100%;
  width: 100%;
}

.berita-main p {
  margin-top: 13px;
  margin-bottom: 20px;
  font-size: 0.8rem;
  color: #d0d453;
}

.banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 15vh;
  background: -webkit-gradient(linear, left top, right top, from(#fc7bf9), to(#d0d453));
  background: linear-gradient(to right, #fc7bf9, #d0d453);
  min-height: 40vh;
}

.banner-content-berita {
  min-height: 15vh;
}

.content {
  color: #d0d453;
  margin-bottom: 30px;
}

.content-title {
  margin-top: 40px;
}

.content-title h2 {
  margin-bottom: 30px;
  font-size: 1.6rem;
  font-weight: 700;
}

.content-desc {
  padding-top: 40px;
  color: #d0d453;
}

.content-desc p {
  font-size: 1rem;
  font-weight: 300;
}

.content-desc .img-program {
  margin-top: 20px;
  position: relative;
}

.content-img {
  padding-top: 40px;
}

.content-img .wrapper {
  height: 40vh;
  width: 100%;
  margin-bottom: 10px;
}

.content-img .wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  display: block;
  height: 100%;
  width: 100%;
}

.content-img small {
  font-size: 0.8rem;
}

.content-img small a {
  text-decoration: none;
  color: #d0d453;
}

footer {
  background-color: #fff;
  width: 100vw;
  color: #d0d453;
  border-top: 1px solid #d0d453;
}

footer a {
  background-color: #d0d453;
  border-radius: 50%;
  margin-right: 15px;
  text-align: center;
  display: inline-block;
  height: 50px;
  width: 50px;
  line-height: 50px;
}

footer a:hover {
  background-color: #fff;
}

footer a:hover svg {
  fill: #d0d453;
}

footer a svg {
  fill: #fff;
  width: 25px;
}

footer img {
  height: 50px;
  margin-right: 20px;
  margin-bottom: 20px;
}

footer h4 {
  position: relative;
  margin-bottom: 20px;
}

footer h4::after {
  content: "";
  border-bottom: 1px solid #d0d453;
  width: 60%;
  bottom: -10px;
  position: absolute;
  display: block;
}

footer p {
  font-size: 0.7rem;
}

footer .copy {
  font-size: 0.7rem;
}

.btn-custom {
  background-color: #fff;
  border: 1px solid #d0d453;
  border-radius: 10px;
  color: #d0d453;
  padding: 0.5em 2.2em;
}

.btn-custom:hover, .btn-custom:focus {
  border: 1px solid #d0d453;
  background-color: #d0d453;
  color: #fff;
}

.berita {
  margin-top: 20px;
  margin-bottom: 20px;
}

.berita .wrapper {
  height: 300px;
  width: 100%;
}

.berita .wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  display: block;
  height: 100%;
  width: 100%;
}

.berita p {
  color: #d0d453;
  text-decoration: none;
  font-size: 1rem;
  margin-bottom: 0;
  font-weight: 300;
}

.berita label {
  font-size: 0.8rem;
  font-weight: 700;
  color: #d0d453;
}

.detail-berita {
  margin-top: 40px;
  color: #d0d453;
}

.detail-berita .wrapper {
  height: 50vh;
  width: 100%;
  margin-bottom: 10px;
}

.detail-berita .wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  display: block;
  height: 100%;
  width: 100%;
}

.detail-berita small {
  font-size: 0.6rem;
}

.detail-berita h4 {
  margin-top: 20px;
  font-weight: 600;
}

.detail-berita label {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.detail-berita p {
  font-size: 0.9rem;
}

@media screen and (min-width: 1024px) {
  .banner-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 130px;
    padding-right: 40px;
    margin-bottom: 0;
  }
  .banner-text h1 {
    font-size: 2.7rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .banner-image {
    text-align: right;
  }
  .berita {
    background-color: #fff;
    padding: 20px 215px;
  }
  .berita-title h2 {
    font-size: 2rem;
    color: #fc7bf9;
  }
  .berita p {
    margin: 0;
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar .navbar-brand {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .navbar .nav-item {
    margin: 0 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .navbar .nav-item:hover {
    background-color: #fc7bf9;
  }
  .navbar .nav-item .nav-link {
    text-transform: uppercase;
    font-size: 1.2rem;
  }
  .navbar .nav-item .nav-link:hover {
    color: #d0d453 !important;
  }
  .navbar .nav-item .dropdown-menu {
    background-color: #fc7bf9;
    border: none;
  }
  .navbar .nav-item .dropdown-menu .dropdown-item {
    color: #fff;
  }
  .navbar .nav-item .dropdown-menu .dropdown-item:hover {
    background-color: #d0d453;
  }
  .banner .banner-image {
    position: relative;
  }
  .banner .banner-image img {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
  }
  .banner .banner-image small {
    font-size: 0.7rem;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 40%;
  }
  .content-title h2 {
    font-size: 2.7rem;
  }
}

.dropdown-item {
  text-align: left;
  font-size: 0.7rem;
}

@media screen and (min-width: 768px) {
  .content {
    color: #d0d453;
  }
  .content-title {
    margin-top: 120px;
  }
  .content-title h2 {
    margin-bottom: 80px;
    font-size: 1.6rem;
  }
  .content .img-program {
    margin-top: 20px;
    position: relative;
    bottom: 0;
    left: 50%;
  }
  .footer-socmed {
    background-color: #d0d453;
    position: relative;
    left: 70px;
  }
  .footer-socmed .icon-socmed {
    position: absolute;
    top: 0;
    left: -70px;
  }
}

@media screen and (max-width: 425px) {
  .navbar {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar .overlay-content {
    text-align: left;
  }
  .navbar .overlay .closebtn {
    right: 1rem;
  }
  .navbar .nav-item .nav-link {
    font-size: 1rem;
  }
  .navbar .nav-item .nav-link:hover, .navbar .nav-item .nav-link:focus {
    color: #d0d453 !important;
  }
  .navbar .nav-item .dropdown-menu {
    background-color: #fc7bf9;
    border: none;
  }
  .navbar .nav-item .dropdown-menu .dropdown-item {
    text-align: left;
    font-size: 0.9rem;
  }
  .navbar .nav-item .dropdown-menu .dropdown-item:hover {
    background-color: #d0d453;
  }
}
/*# sourceMappingURL=app.css.map */